<br/><br/><br/>
<div style="margin-left:30%; margin-right:30%;">

<h2>Profil de <%= @user.first_name %><%= @user.first_name %></h2><hr><br/>

  <div>
    <h5>Description</h5><%= @user.description %><br/><br/>
    <h5>Email</h5><%= @user.email %><br/><br/>
    <h5>Participe à :</h5>
      <% Attendance.retrieve_events_created_by(@user.id).each do |event| %>
        <%= link_to event.title , event_path(event.id) %><br/><br/>
      <% end %>
    <h5>Créateur de :</h5>
      <% Event.all.each do |event| %>
        <% if event.admin_id == @user.id %>
          - <%= link_to event.title , event_path(event.id) %><br/>
        <% end %>
      <% end %>
  </div>
  <hr> ### ONLY IF ADMIN OR CURRENT USER A RAJOUTER PR ENLEVER LE BOUTON
  <p><%= link_to 'Modifier les infos' , edit_user_registration_path, class:"btn btn-secondary" %></p>
  <%= form_tag user_avatars_path(@user), multipart: true do %>
    <%= file_field_tag :avatar %>
    <%= submit_tag "mettre à jour" %>
  <% end %>
</div>