<br/><br/><br/>
<div style="margin-left:10%; margin-right:10%;">

  <h2>Modifier l'événement</h2><hr><br/>
    <%=form_tag url_for(action: 'update'), method: 'patch' do %> 
      <%= text_field_tag 'title', @event.title , class:"form-control" %><br/>
      <%= text_field_tag 'location' , @event.location , class:"form-control" %><br/>
      <%= datetime_field_tag 'start_date' , @event.start_date , class:"form-control" %><br/>
      <%= text_area_tag 'description' , @event.description , class:"form-control" %><br/>
      <%= text_field_tag 'duration' , @event.duration , class:"form-control" %><br/>
      <%= text_field_tag 'price' , @event.price , class:"form-control" %><br/>
      <%= submit_tag "Modifier", class: 'btn btn-primary' %>
    <% end %>

  <% if @event.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/><br/><hr>
  <%= button_to "Supprimer", @event, method: :delete, data:{confirm: "Es-tu sûr de le supprimer?"}, class:"btn btn-danger float-right" %><br/>

</div>