<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">eventbrite!</h1>
    <p>tous les événements près de chez toi</p>
    <p><%= button_to "Créé ton événement", new_event_path, method: :get, class:"btn btn-primary btn-sm" %></p>
  </div>
</div>

<div class="card-columns" style="margin-left:10%; margin-right:10%;">
  <% Event.all.each do |event| %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= event.title %></h4>
      <p class="card-text text-muted"><%= event.start_date %></p>
      <p class="card-text"><%= event.description %></p>
      <p><%= button_to "Plus d'infos", event_path(event.id), method: :get, class:"btn btn-secondary" %></p>
    </div>
  </div>
  <% end %>
</div>