<h1>Events#show</h1>

<br/>

Titre : <%= @event.title %><br/>
Description : <%= @event.description %><br/>
Durée : <%= @event.duration %><br/>
Lieu : <%= @event.location %><br/>
Admin : <%= @event.admin.email %><br/>