<br/><br/><br/>
<div style="margin-left:30%; margin-right:30%;">

  <h2>Modifier l'utilisateur</h2><hr>

  <!-- admin/user helper needed for this section to define "resource" as it is an internal devise feature initially limited to the devise scaffold -->

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label "Administrateur : " %>
    <%= f.check_box :is_admin %><br/><br/>

    <%= f.label "Prénom" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control" %><br/>
    
    <%= f.label "Nom" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control" %><br/>
    
    <%= f.label "Description" %>
    <%= f.text_area :description, autofocus: true, autocomplete: "description", class:"form-control" %><br/>

    <%= f.label "Email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %><br/>
    
    <%= f.label "Password" %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
    <% end %><br />

    <%= f.label "Reconfirme le password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %><br/>

    <%= f.submit "Update", class:"btn btn-secondary float-right" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
