<!DOCTYPE html>
<html>
  <head>
    <title>EventbriteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">eventbrite!</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto align-items-center">
              <li class="nav-item">
                <a class="nav-link" href="/events/new">Créer un événement</a>
              </li>
              <% if user_signed_in? %>
              <li class="nav-item text-primary text-muted m-1">
                Bonjour <%= current_user.email %>!
              </li>
              <li class="nav-item">
                <%= link_to "Se déconnecter", destroy_user_session_path , method: :delete , class:"btn btn-primary btn-sm m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "Profil", user_path(current_user.id), class:"btn btn-secondary btn-sm m-1" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "Se connecter", new_user_session_path , class:"btn btn-primary btn-sm m-1" %>
              </li>
              <li class="nav-item">
                <%= link_to "S'inscrire", new_user_registration_path , class:"btn btn-secondary btn-sm m-1" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
  <footer class="py-4 bg-dark" style="margin-top:8%;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; THP Strasbourg 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</html>
